<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-openfilenative"
    version="1.0.3">

    <name>Open File Native</name>
    <description>Cordova-Plugin which allows yout to open various local/remote files (jpg, png, pdf, ...) in native Device App; Android 2.x+</description>
    <keywords>Image, Audio, Video, Native App, android</keywords>
    <license>MIT</license>
    <repo>https://github.com/andischerer/cordova-plugin-openfilenative.git</repo>
    <issue>https://github.com/andischerer/cordova-plugin-openfilenative/issues</issue>

    <dependency id="cordova-plugin-compat" version="^1.0.0" />

    <js-module src="www/OpenFileNative.js" name="OpenFileNative">
        <clobbers target="openFileNative" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpenFileNative">
                <param name="android-package" value="org.apache.cordova.openfilenative.OpenFileNative" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/OpenFileNative.java" target-dir="src/org/apache/cordova/openfilenative" />
    </platform>
</plugin>
